<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Self-Imposed Structure.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SkypeManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Switcher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>WPADev.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WorkPlayAway.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>iCalModule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C0D93EF12D63D3D009F3280</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C34BC59134D245300A9BCFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C5DEC4812E8C4A600EE93F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C5DEC5412E8C4D000EE93F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C5DEC6E12E8C58A00EE93F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C66A74012DFCB11000644ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C66A77512DFCE20000644ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C73F89212E891D00056FAFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CD1974312D4C59600C69AC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CD197CE12D4FDC800C69AC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CD1980E12D5041700C69AC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CD1983E12D505BB00C69AC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CD1985012D5061300C69AC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CD1985F12D506B700C69AC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CD1989C12D5092F00C69AC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CDC0D691309D68B00BA478C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CDC10A6130CA6CA00BA478C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CDC10ED130CB3C400BA478C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CDCC0F912E2B5F400CEAAD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D1107260486CEB800E47090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
